.team-team {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.team-p {
    text-transform: uppercase !important;
}

.team-kampe-section {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

#statistikker {
    flex-direction: column !important;
}

#oversigt {
    flex-direction: column !important;
}

.team-indhold-side {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.favorit-container {
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
}

.favorit-container-match {
    cursor: pointer;
}

.match-team-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favorit {
    width: 40px;
    height: 40px;
    padding: 9px;
    background-color: var(--stageSurface);
    border-radius: 50%;
    fill: var(--softBlack);
    display: none;
}

.favorit-active {
    fill: var(--primary) !important;
}

.team-trup-section {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.team-kampe-h1 {
    font-family: CircularBook;
    font-weight: 100;
    font-size: 16px;
    padding: 10px;
    display: inline-block;
    background-color: var(--surface);
    width: 100%;
    color: var(--softBlack);
}

.trup-h1 {
    font-family: CircularBook;
    font-weight: 100;
    font-size: 14px;
    padding: 5px;
    margin-left: 5px;
    color: var(--softBlack);
    opacity: 0.9;
}

.team-match {
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    padding-left: 5px;
    transition: 0.2s;
}

.team-kampe-p {
    font-family: CircularBook;
    font-weight: 100;
    padding-left: 15px;
    opacity: 0.8;
    font-size: 13px;
    color: var(--softBlack);
}

.team-kampe-p:hover {
    text-decoration: underline;
}

.team-indhold {
    justify-content: center;
    margin-top: 40px !important;
    display: none;
    gap: 80px;
    width: 100% !important;
    align-items: flex-start;
    flex-direction: row;
    margin: auto;
}

.team-kampe-minut {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    width: 65px;
    color: var(--onSecondary);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

.team-match:hover {
    background-color: var(--surface);
}

.team-kampe-hold-h2h {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}

.team-kampe-hold {
    display: inline-flex;
    flex-flow: row wrap;
    vertical-align: top;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}

#h2h-icon {
    margin-right: 25px;
}

.stage-h2h {
    display: inline-flex;
    flex-flow: row wrap;
    vertical-align: top;
    overflow: hidden;
    width: 90%;
}