.find-div {
    background-color: var(--surface);
    width: 100%;
    padding: 150px 18%;
    min-height: 650px;
}

.find-table-row {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.2s;
    padding: 10px 10px;
    border-bottom: #87889747 1px solid;
}

.find-table-row:hover {
    background-color: var(--stageSurface);
}