.tut-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 20;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
}

.tut-modal {
    background-color: #fff;
    border-radius: 5px;
    padding: 35px;
    min-width: 300px;
    max-width: 550px;
}

.tut-element {
    display: none;
    flex-direction: column;
}

#tut0 {
    position: absolute;
    left: calc(50% - 275px);
    top: 25%;
}

#tut1 {
    position: absolute;
    left: 5%;
    top: 26.5%;
    width: 83.5%;
}

#tut1pic {
    width: 80%;
}

#tutstage {
    min-height: 0px !important;
}

#tut2 {
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    width: 79%;
    left: 5%;
    top: 47%;
    flex-direction: row !important;
}

#tutkupon {
    top: 0px !important;
    display: block !important;
    width: 310px !important;
    position: relative !important;
}

#tut3 {
    position: absolute;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 25px;
    width: 79%;
    right: 6%;
    top: 26%;
    flex-direction: row !important;
}

#tut4 {
    position: absolute;
    left: 0px;
    top: 25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}