@media only screen and (max-width: 1400px) {
  .gruppespil-div {
    width: 840px !important;
  }
}

@media only screen and (max-width: 1300px) {
  .section-price {
    padding-top: 80px !important;
  }
}

@media only screen and (max-width: 1250px) {
  .favorit-container-match {
    display: none !important;
  }
}

@media only screen and (max-width: 1133px) {
  .team-indhold-side {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 1095px) {
  .nav-container-mid {
    display: none !important;
  }
  .section-nyheder-kupon {
    display: none !important;
  }
  .nav-ham {
    display: block !important;
  }
  .fsection-elements {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .hero-figures {
    display: none !important;
  }
  .ny-window {
    display: none !important;
  }
  .nyheder-kupon {
    display: none !important;
  }
  .nav-btn-outline {
    margin-left: 0px !important;
  }
  .fsection-element {
    text-align: center !important;
    width: clamp(250px, 50vw, 500px);
    align-items: center;
    justify-content: center;
  }
  .section-nyheder-kupon {
    text-align: center !important;
  }
  .section-nyheder-table {
    text-align: center !important;
  }
  .ny-kupon-a {
    width: inherit !important;
  }
  .gruppespil-div {
    margin-top: -30px !important;
    width: 70% !important;
  }
  .gruppetable-number2-el {
    display: none !important;
  }
  .gruppetable-number22 {
    display: none !important;
  }
}

@media only screen and (max-width: 1000px) {
  .gruppetable-number2 {
    display: none !important;
  }
  .gruppetable-number2-el2 {
    display: none !important;
  }
  .pages-parent {
    margin-top: -40px !important;
  }
}

@media only screen and (max-width: 910px) {
  #alleGK {
    display: none !important;
  }
  .gruppetable-navn2-el {
    width: 250px !important;
  }
  .gruppetable-navn2 {
    width: 250px !important;
  }
  .fsection-element {
    box-shadow: none !important;
    padding: 30px 0px !important;
  }
}

@media only screen and (max-width: 835px) {
  .stage-indstillinger-sidebar {
    display: none !important;
  }
  .stage-indstillinger-main {
    padding: 0px !important;
  }
  .gruppespil-info-element {
    padding-bottom: 10px !important;
  }
  .stage-main-article-container {
    padding: 100px 5% !important;
  }
  .match-kupon {
    opacity: 0;
    margin-right: -2000px !important;
  }
  .match-kupon-ul {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .close-kupon {
    display: block !important;
  }
  .match-kupon-knap {
    display: flex !important;
  }
}

@media only screen and (max-width: 730px) {
  .noti-section-success {
    flex-direction: column !important;
  }
  .noti-section {
    flex-direction: column !important;
  }
  .noti-section-error {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 700px) {
  .plans-con {
    flex-direction: column;
  }
  .section-price {
    padding-top: 160px !important;
  }
  .plan-element {
    width: clamp(237px, 45vw, 400px);
  }
  .plan-funktioner {
    display: none !important;
  }
  .main-btn-outline {
    margin-left: 0px !important;
    display: block !important;
    margin-top: 10px !important;
    width: clamp(212px, 50vw, 350px) !important;
  }
  .main-btn-login {
    width: clamp(212px, 50vw, 350px) !important;
  }
  .match-bet {
    padding: 25px 20px !important;
  }
  .match-odds-offer {
    flex-direction: column !important;
  }
  .match-odds-offer-element-3 {
    width: 100% !important;
  }
  .match-odds-offer-element-2 {
    width: 100% !important;
  }
}

@media only screen and (max-width: 650px) {
  #t1 {
    display: none !important;
  }
  #t2 {
    display: none !important;
  }
}

@media only screen and (max-width: 616px) {
  .gruppetable-navn2-el {
    width: 52% !important;
  }
  .gruppetable-navn2 {
    width: 50% !important;
  }
  .gruppetable-kapital2 {
    width: 70px !important;
  }
  .gruppetable-kapital2-el {
    width: 70px !important;
  }
  .nav-in {
    display: none !important;
  }
  .nav-in-before {
    display: none !important;
  }
  .nav-btn-default {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 550px) {
  #t3 {
    display: none !important;
  }
  .match-info {
    padding: 30px 20px !important;
  }
}

@media only screen and (max-width: 540px) {
  .hero-help {
    margin-top: 100px !important;
  }
  .section-offer {
    text-align: center !important;
  }
  .plan-container {
    text-align: center !important;
  }
  .pages-parent {
    margin-top: -10px !important;
  }
  .nav-flag-section {
    display: none !important;
  }
  .nav-short-search {
    display: none !important;
  }
  .nav-container-top-stage {
    justify-content: space-between !important;
  }
  .nav-container-bottom {
    display: none !important;
  }
  .stage-fix {
    height: 0px !important;
  }
  .gruppespil-container {
    padding-top: 0px !important;
  }
  .stage-main-article-container {
    padding-top: 15px !important;
  }
}

@media only screen and (max-width: 450px) {
  .nav-btn-outline {
    display: none !important;
  }
  .nav-btn-default {
    display: none !important;
  }
  .gruppespil3-btn {
    display: none !important;
  }
}

@media only screen and (max-width: 445px) {
  .gruppespil-btn {
    margin-left: 0px !important;
    display: block !important;
  }
}

@media only screen and (max-width: 430px) {
  .gruppespil-section {
    padding: 20px 7vw !important;
  }
}

.nav-ham {
  width: 40px;
  height: 40px;
  fill: var(--primary);
  margin-left: 35px;
  cursor: pointer;
  display: none;
}

.ham-close {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  fill: var(--primary);
  cursor: pointer;
}

.sidemenu {
  position: fixed;
  box-shadow: 0px 0px 20px 5000px rgba(0,0,0,0.7) !important;
  right: 0;
  height: 100%;
  background-color: #fff;
  width: 90%;
  max-width: 500px;
  z-index: 23;
  top: 0;
  display: none;
}

.nav-short-search {
  width: 20px;
  height: 20px;
  fill: var(--secondary);
  cursor: pointer;
}

.side-nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 80px;
}

.side-nav-p {
  padding: 25px 40px;
  font-size: 20px;
  font-family: CircularBook;
  font-weight: 100;
  color: var(--softBlack);
  width: 100%;
}

.side-nav-p:hover {
  background-color: var(--stageSurface);
}

.noti-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  background-color: var(--red);
  position: absolute;
  right: -7px;
  top: -7px;
}

.nav-bar {
  width: 100%;
  height: 100px;
  background-color: #fff;
  padding: 0px 5%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-clear {
  width: 100%;
  height: 100px;
  background-color: transparent;
  padding: 0px 5%;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container-stage-right {
  display: inline-block;
  position: absolute;
  right: 5%;
  top: 0px;
  text-align: right;
}

.nav-container-bottom {
  padding: 25px 5%;
  z-index: 9;
  position: fixed;
  top: 85px;
  transition: 0.5s;
  left: 0px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-flow: row nowrap;
}

.normalHeader {
  top: 0 !important;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05) !important;
}

.nav-bar-stage {
  width: 100%;
  background-color: #fff;
}

.main-logo {
  height: 55px;
  transition: 0.2s;
  cursor: pointer;
}

.middle-logo {
  height: 60px !important;
  text-align: center !important;
}

.nav-forside-flag-container {
  display: inline-block;
  vertical-align: top;
}

.nav-flag-container {
  display: inline-block;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
  flex-direction: row;
  left: 5%;
  top: 0px;
  margin-top: calc((85px - 32px)/2);
}

.ais-Hits {
  background-color: #fff;
  z-index: 17;
  opacity: 1;
  position: relative;
}

.hits-close {
  width: 27px;
  display: none;
  padding: 2px;
  height: 27px;
  fill: var(--secondary);
  border-radius: 50%;
  transition: 0.1s;
  cursor: pointer;
}

.search-el {
  display: flex;
  padding: 0px 88px;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.mb-search {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.ais-SearchBox {
  width: 100%;
  padding-left: 15px;
}

.hits-close:hover {
  background-color: rgba(24, 30, 47, 0.1);
}

.ais-SearchBox-input {
  border: 0px !important;
  box-shadow: none !important;
  user-select: none !important;
  appearance: none !important;
  padding: 10px 0px;
  color: var(--softBlack);
  font-weight: 400;
  font-family: Open Sans;
  font-size: 16px;
  width: 100%;
}

.ais-Hits-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.nav-hits {
  width: 2000px;
  user-select: none;
  margin-left: -110px;
  position: absolute;
  left: 0;
  top: 80px;
  background-color: #fff;
  z-index: 19;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
  padding-bottom: 20px;
  display: none;
  box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1) !important;
}

.mobile-search {
  z-index: 30;
}

.hit-elem {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  padding: 10px 130px;
}

.hit-elem:hover {
  background-color: var(--stageSurface);
}

.ais-Hits-item {
  width: 100%;
  text-align: left !important;
}

.hit-h1 {
  font-size: 18px;
  font-weight: 100;
  font-family: CircularBook;
  color: var(--softBlack)
}

.hit-h2 {
  font-size: 14px;
  font-weight: 100;
  font-family: CircularLight;
  color: var(--softBlack);
  opacity: 0.8;
}

.hit-info {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.hit-img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

.header-fix {
  width: 100%;
  height: 100px;
}

.stage-fix {
  width: 100%;
  height: 80px;
  background-color: var(--surface);
}

.nav-user-p {
  color: #fff;
  text-decoration: none;
  vertical-align: top;
  font-size: 14px;
  display: inline-block;
  transition: 0.2s;
  font-weight: 400;
  opacity: 0.9;
  font-family: Open Sans;
  user-select: none;
}

.user-icon {
  fill: #fff;
  opacity: 0.7;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  transition: 0.2s linear;
  user-select: none;
  margin-left: 15px;
  float: right;
}

.nav-profile-pic {
  width: 35px;
  height: 35px;
  background-color: var(--softBlack);
  border-radius: 50%;
  display: inline-block;
}

.nav-profile-btn {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}

.nav-profile {
  display: inline-flex;
  margin-top: 32.5px;
  margin-left: 40px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  cursor: pointer;
  position: relative;
  padding: 2px;
  margin: 7px;
}

.adminside-split {
  height: 20px;
  width: 100%;
  background-color: transparent;
}

.bell-icon {
  fill: #444762;
  width: 18px;
  height: 18px;
  user-select: none;
}

.profile-icon {
  fill: var(--softBlack);
  opacity: 0.7;
  width: 14px;
  height: 14px;
  margin-top: 10.5px;
  display: inline-block;
  vertical-align: top;
  transition: 0.2s linear;
  user-select: none;
  margin-left: 8px;
}

.nav-user {
  padding: 8px 20px;
  border-radius: 5px;
  min-width: 180px;
  text-align: left;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  background-color: #2f3146;
  vertical-align: top;
  cursor: pointer;
  border: 2px #444762 solid;
}

.user-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  transition: 0.3s;
  position: relative;
}

.user-dropdownFlag {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 3px 15px rgb(39, 40, 45, 0.09);
  position: absolute;
  transition: 0.3s;
  top: 40px;
  display: none;
  padding: 5px 20px;
  left: 0;
  text-align: left;
  min-width: 140px;
  transform: scale(1);
  z-index: 10;
}

.user-dropdownSpil {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 3px 15px rgb(39, 40, 45, 0.09);
  position: absolute;
  transition: 0.3s;
  top: 70px;
  display: none;
  padding: 5px 20px;
  right: 0;
  text-align: left;
  min-width: 140px;
  transform: scale(1);
  z-index: 10;
}

.user-flag-icon {
  width: 28px;
  height: 20px;
  margin-top: 7.5px;
  margin-right: 7.5px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
}

.user-dropdown {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 3px 15px rgb(39, 40, 45, 0.09);
  position: absolute;
  transition: 0.3s;
  top: 40px;
  display: none;
  padding: 20px 20px;
  right: 0;
  text-align: left;
  transform: scale(1);
  z-index: 11;
}

.user-logo-tem {
  width: 30px;
  height: 30px;
  background-color: var(--secondary);
  border-radius: 50%;
  margin-top: 5px;
  display: inline-block;
  margin-right: 20px;
}

.user-logo {
  background-color: green;
  width: 50px;
  display: inline-block;
  vertical-align: top;
  height: 40px;
}

.user-divider {
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
  opacity: 0.07;
  margin: 7px 0px;
}

.user-info-desc {
  display: inline-block;
  vertical-align: top;
  max-width: 200px;
  overflow: hidden;
}

.user-info {
  min-width: 250px;
  max-width: 600px;
  padding-bottom: 5px;
  overflow: hidden;
}

.user-email {
  font-family: CircularBook;
  font-size: 14px;
  vertical-align: top;
  color: var(--secondary);
  opacity: 0.7;
}

.user-name {
  font-family: CircularBook;
  font-size: 16px;
  vertical-align: top;
  color: var(--secondary);
}

.user-element {
  cursor: pointer;
  border-radius: 7px;
  padding: 0px 10px;
  margin: 5px -10px;
}

.user-elementFlag {
  cursor: pointer;
  border-radius: 7px;
  padding: 0px 10px;
  margin: 5px -10px;
}

.user-elementFlag:hover {
  background-color: #f7f7f8;
}

.user-element:hover {
  background-color: #f7f7f8;
}

.user-element-p {
  font-family: CircularLight;
  font-size: 15px;
  padding: 7px 0px;
  display: inline-block;
  vertical-align: top;
  color: var(--secondary);
}

.nav-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: row;
  transition: 0.2s;
}

.nav-p {
  color: var(--softBlack);
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
  font-family: Arial;
  transition: 0.2s;
  border-width: 1%;
  padding-bottom: 3px;
  border-bottom: 4px transparent solid;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: row;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.nav-p:hover {
  border-bottom: 3px var(--primary) solid;
  padding-bottom: 1px;
  margin-bottom: 3px;
}

.nav-icon {
  width: 11px;
  height: 11px;
}

#nav-drop:hover .nav-drop-fix {
  display: block;
}

.ndp-icon {
  height: 18px;
  width: 18px;
  fill: var(--softBlack);
}

.ndp-section {
  width: 350px;
  padding: 30px 35px;
  border-right: 1px solid rgb(219, 223, 232);
}

.ndp-h1 {
  font-size: 17px;
  font-weight: 100;
  font-family: CircularBook;
  color: var(--softBlack);
}

.ndp-h2 {
  font-size: 13px;
  font-weight: 100;
  font-family: CircularLight;
  color: var(--softBlack);
  padding-top: 5px;
}

.ndp-section-top {
  padding-bottom: 25px;
}

.ndp-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ndp-element {
  padding: 7px 0px;
}

.ndp-a {
  font-size: 17px;
  font-weight: 100;
  font-family: CircularLight;
  color: var(--softBlack);
  display: flex;
  align-items: center;
  gap: 15px;
}

.ndp-a:hover {
  color: var(--primary);
}

.ndp-a:hover .ndp-icon {
  fill: var(--primary) !important;
}

.nav-drop-fix {
  position: absolute;
  top: 22px;
  left: 0px;
  padding-top: 10px;
  display: none;
  background-color: transparent;
}

.nav-dropdown {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.nav-container-top-stage {
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid #27293d0d;
}

.nav-p-stage {
  color: var(--secondary);
  text-decoration: none;
  vertical-align: top;
  font-family: CircularBook;
  font-size: 15px;
  font-weight: 100;
  transition: 0.2s;
  border-width: 1%;
  padding: 3px 3px;
  border-bottom: 4px transparent solid;
}

.nav-p-stage:hover {
  border-bottom: 3px var(--primary) solid;
  padding-bottom: 1px;
}

.nav-flag-section {
  position: relative;
}

.nav-flag {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
}

.nav-container-left {
  display: inline-flex;
  justify-content: left;
  height: 100%;
  align-items: center;
}

.nav-container-left-stage {
  width: 5%;
  display: inline-block;
}

.nav-error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nav-error-img {
  width: 16px;
  height: 16px;
  fill: var(--red);
  vertical-align: top;
}

.nav-error-a {
  font-family: CircularLight;
  font-weight: 100;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
  color: var(--red);
}

.nav-error-p {
  font-family: CircularLight;
  font-weight: 100;
  font-size: 12px;
  color: var(--red);
}

.nav-info-p {
  font-family: CircularLight;
  font-weight: 100;
  font-size: 12px;
  color: var(--softBlack);
}

.nav-container-fix {
  display: flex;
  align-items: center;
  justify-content: center;
}

#fix-fix {
  width: 70% !important;
}

.nav-container-mid {
  height: 100%;
  gap: 40px;
  display: flex;
  padding-left: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.nav-scrolled .nav-container-fix .nav-container-mid {
  gap: 35px !important;
}

.nav-scrolled .nav-container-fix .nav-container-left .main-logo {
  gap: 60px !important;
  height: 50px !important;
}

.nav-container-right {
  display: inline-flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}

.adminside-container {
  display: inline-block;
  vertical-align: top;
  background-color: var(--surface);
  width: 20%;
  height: 800px;
  padding: 20px 30px;
}

.nav-scrolled {
  height: 80px;
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08);
  left: 0;
  transition: 0.2s;
}

.adminside-top {
  display: flex;
  justify-content: left;
  align-items: center;
  flow-direction: row;
}

.adminside-profile {
  width: 30px;
  height: 30px;
  background-color: var(--softBlack);
  border-radius: 50%;
  margin-right: 8px;
}

.adminside-h1 {
  font-size: 20px;
  font-weight: 100;
  font-family: CircularBook;
  color: var(--softBlack);
}

.adminside-top-icon {
  width: 15px;
  height: 15px;
  fill: var(--softBlack);
  margin-left: 7px;
  margin-top: 2px;
}

.adminside-view {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 5px;
}

.adminside-element {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.adminside-element:hover {
  padding: 8px 15px;
  background-color: #ebedf0;
}

.adminside-p {
  font-size: 16px;
  font-weight: 100;
  font-family: CircularBook;
  color: var(--softBlack);
}

.adminside-icon {
  width: 20px;
  height: 20px;
  fill: var(--softBlack);
}

.adminside-active .adminside-element .adminside-icon {
  fill: var(--primary) !important;
}

.adminside-active .adminside-element .adminside-p {
  color: var(--primary) !important;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 0 3vw;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.footer-copyright {
  font-family: circularlight;
  font-weight: 100;
  color: var(--softBlack);
  font-size: 12px;
  padding-bottom: 15px;
}

.footer-sections {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 120px;
  padding: 50px 0px;
}

.footer-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  flex-direction: column;
}

.footer-section-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  flex-direction: row;
}

.footer-by {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.footer-i {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.footer-h1 {
  font-family: circularbook;
  font-weight: 100;
  color: var(--black);
  font-size: 19px;
}

.footer-h2 {
  font-family: circularbook;
  font-weight: 100;
  color: var(--black);
  font-size: clamp(14px, 2vw, 17px);
}

.footer-h3 {
  font-family: circularlight;
  font-weight: 100;
  color: var(--softBlack);
  font-size: clamp(12px, 2vw, 15px);
  transition: 0.2s;
  border-radius: 1px;
  padding-bottom: 3px;
  margin-bottom: 0px;
  border-bottom: 3px solid transparent;
}

.footer-h3:hover {
  padding-bottom: 1px;
  margin-bottom: 2px;
  border-bottom: 3px solid var(--primary);
}

.footer-h4 {
  font-family: circularlight;
  font-weight: 100;
  color: var(--softBlack);
  font-size: 12px;
  opacity: 0.8;
}

.footer-bytext {
  font-family: circularlight;
  font-weight: 100;
  color: var(--softBlack);
  font-size: 14px;
}

.footer-socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
}

.footer-icon {
  fill: var(--primary);
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.85;
  transition: 0.2s;
}

.footer-icon:hover {
  transform: scale(1.12);
  opacity: 1;
}

.footer-element {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 9px;
}

.n404-h1 {
  font-family: CircularMedium;
  font-weight: 100;
  color: #fff;
  font-size: 64px;
  text-align: center;
  z-index: 9;
  line-height: 60px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.nav-test {
  width: 200px;
  height: 50px;
  background-color: red;
}

.n404-container {
  height: 500px;
  width: 100%;
  padding-top: 100px;
  background-color: var(--primary);
}

.blog-header {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: row;
}

.blog-header-h1 {
  font-family: Montserrat;
  font-size: 32px;
  color: var(--softBlack);
  font-weight: 200;
}

.footer-input {
  width: 250px;
  padding: 15px 20px;
  border: 0px;
  background-color: var(--stageSurface);
  font-family: circularlight;
  font-weight: 100;
  color: var(--black);
  font-size: 14px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.footer-btn {
  padding: 15px 20px;
  border: 0px;
  color: #fff;
  background-color: var(--primary);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.2s;
}

.footer-btn:hover {
  opacity: 1;
  background-color: var(--primaryAccent);
}